# ============================================================
# VARIABLES DE ENTORNO / SECRETOS
# ============================================================
.env
.env.*
!.env.example

# ============================================================
# PYTHON
# ============================================================
__pycache__/
*.py[cod]
*$py.class

# ============================================================
# ENTORNO VIRTUAL
# ============================================================
venv/
.venv/

# ============================================================
# DJANGO
# ============================================================
db.sqlite3
staticfiles/
media/

# ============================================================
# IDE / EDITORES
# ============================================================
.vscode/
.idea/

# ============================================================
# SISTEMA OPERATIVO
# ============================================================
.DS_Store
Thumbs.db

# ============================================================
# ARCHIVOS TEMPORALES
# ============================================================
*.log
*.tmp
